.section {
    padding: 100px 0;
}

.navbar-toggler {
    background-color: yellow;
    color: #fff;
    border-radius: none;
}

.center-content {
    height: 100vh;
}

header {
    position: absolute;
    width: 100%;
    z-index: 999;
}

.navbar-brand {

    color: #fff !important;
}

.nav-link {

    color: #fff !important;
}

.ht-text h6 {
    font-size: 19px;
    color: white;
}

.ht-text h1 {
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.ht-list span {
    background: rgba(255, 255, 255, 0.13);
    margin: 0 3px;
    padding: 7px 20px;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
    border-radius: 30px;
    letter-spacing: 1px;
}


.back {
    background-image: url(../images/back-2.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
    box-sizing: border-box;
}

.back:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #090a0c;
    opacity: 0.8;
    z-index: 1;
    pointer-events: none;
}

.back .ht-text {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 24px;
}

.ts {
    font-size: 80px !important;
    font-weight: 600;
}

.ht {
    font-size: 30px !important;
    font-weight: 600;
}

.section {
    padding: 100px 0;
    background-color: #EAEDF2;
}

.section-title h3 {
    font-weight: 700;
    font-size: 35px;
    margin: 0 0 10px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    z-index: 1;
    padding: 0 0 10px;
}

.section-title p {
    margin: 0;
    font-size: 14px;
    letter-spacing: 2px;
}

.about-me-img {
    border: 10px solid #ffffff;
    border-radius: 5px;
    position: relative;
    width: 80%;
}

img {
    max-width: 100%;
}

img {
    vertical-align: middle;
    border-style: none;
}

.abc img {
    width: 100%;
    object-fit: cover;
}


.box-shadow {
    box-shadow: 0px 3px 10px 0px rgba(38, 59, 94, 0.1);
}

.about-me-img .social-icon {
    width: 50px;
    position: absolute;
    top: 20px;
    left: -10px;
    background: #ffffff;
    padding: 8px;
}

.about-me-img .social-icon a {
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    background: #d9832e;
    color: #ffffff;
    margin: 3px 0;
    font-size: 12px;
}

.about-me {
    padding-left: 40px;
}

.about-me h4 {
    font-weight: 600;
    font-size: 30px;
    margin: 0 0 10px;
    color: #090a0c;
}

.about-me h6 {
    color: #090a0c;
    font-weight: 400;
    margin: 0 0 20px;
    font-size: 18px;
}

.about-me .about-list {
    padding-top: 10px;
}

.about-me .media {
    padding: 6px 0;
    line-height: normal;
}

.about-me .media label {
    margin: 0;
    color: #090a0c;
    font-weight: 500;
    font-size: 14px;
    flex: 0 0 90px;
    border-right: 1px solid #c1c1c1;
    max-width: 90px;
}

.about-me .media p {
    margin-bottom: 0;
    padding-left: 15px;
    font-size: 14px;
}

.about-me .btn-bar {
    margin-top: 30px;
}

.m-btn.m-btn-theme {
    background: #d9832e;
    color: #ffffff;
    border-color: #d9832e;
}

.m-btn {
    display: inline-block;
    border: 2px solid transparent;
    color: inherit;
    line-height: inherit;
    border-radius: 0;
    width: auto;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 500;
    text-transform: uppercase;
    -moz-transition: ease-in-out all 0.55s;
    -o-transition: ease-in-out all 0.55s;
    -webkit-transition: ease-in-out all 0.55s;
    transition: ease-in-out all 0.55s;
    text-align: center;
    text-decoration: none;
}

.m-15px-tb {
    margin-top: 15px;
    margin-bottom: 15px;
}

.m-35px-b {
    margin-bottom: 35px;
}

.section-title h3 {
    font-weight: 700;
    font-size: 35px;
    margin: 0 0 10px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    z-index: 1;
    padding: 0 0 10px;
}

.dark-color {
    color: #090a0c;
}

f .text-uppercase {
    text-transform: uppercase !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.row {
     display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: -15px;
}

.section-margin {
    margin: 100px 0;
    background-color: white;
}

.progress-bar {
    background-color: #d9842e;
}

.skills-section h3 {
    font-weight: bold;
    color: #000;
}

.skills-section p {
    text-transform: uppercase;
    font-size: 12px;
    color: #666;
}

.box-33 {
    border: 2px solid #ec7a00;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    color: #000;
}

.stats-section {
    display: flex;
    align-items: center;
}

.stats-section .icon {
    font-size: 30px;
    color: #ff9933;
    margin-right: 20px;
}

.stats-section h5 {
    font-size: 16px;
    font-weight: bold;
    color: #000;
}

.feature-box-1 {
    padding: 40px 30px;
    background: #ffffff;
    border: 1px solid #eee;
    border-radius: 5px;
    position: relative;
    top: 0;
    -moz-transition: ease all 0.35s;
    -o-transition: ease all 0.35s;
    -webkit-transition: ease all 0.35s;
    transition: ease all 0.35s;
}

.box-shadow-lg {
    box-shadow: 0px 30px 60px 0px rgba(38, 59, 94, 0.1);
}

.feature-box-1 .icon {
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    border-radius: 50%;
    border: 2px dotted #d9832e;
    color: #d9832e;
    font-size: 32px;
    margin-bottom: 22px;
}

.icon-desktop:before {
    content: "\e002";
}

.feature-box-1 h5 {
    color: #090a0c;
    font-weight: 500;
    font-size: 16px;
    margin: 0 0 12px;
}

.feature-box-1 p {
    margin: 0;
}

.feature-box-1:hover {
    background: #e67e22;
    color: #fff;
    transform: translateY(-10px);
}

.feature-box-1:hover .icon {
    color: #fff;
    border: 2px dotted #fff;
    color: #fff;
}

.section-title h3 {
    font-weight: 700;
    font-size: 35px;
    margin: 0 0 10px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    z-index: 1;
    padding: 0 0 10px;
}

.section-title h3:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 2px;
    z-index: -1;
    background: #d9832e;
    width: 50px;
}

.section-title p {
    margin: 0;
    font-size: 14px;
    letter-spacing: 2px;
}

.gallery_sec {
    width: 100%;
    padding: 30px 0;
}

.heading {
    width: 100%;
    text-align: center;
}

.heading h2 {
    font-size: 30px;
    font-weight: bold;
    border-bottom: 2px solid #000;
    padding-bottom: 25px;
}

.gallery_sec img {
    width: 100%;
    margin-bottom: 30px;
    height: 250px;
}

.gallery_sec a {
    position: relative;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}


.gallery_sec a::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    background: none;
    background-size: contain;
    background-repeat: no-repeat;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gallery_sec img {
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

.gallery_sec a:hover img {
    position: relative;
    width: 100%;
}

.gallery_sec a:hover img {
    opacity: 0.2;
}

.gallery_sec a:hover::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 99;
}

.menu-item {
    cursor: pointer;
}

.active {
    color: blue;
}

.swiper {
    width: 70%;
    height: 70%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonial-col-01 {
    background: #ffffff;
    padding: 50px;
    margin-top: 20px;
    margin-bottom: 25px;
    cursor: pointer;
    text-align: left;
    font-size: 15px;
}

.media {
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}

.testimonial-col-01 .img {
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50% 0 50% 50%;
}

.p-25px-l {
    padding-left: 25px;
}

.media-body {
    -ms-flex: 1;
    flex: 1;
}

.blog-grid .blog-gird-info {
    background: #ffffff;
    margin: -30px 10px 0;
    position: relative;
    padding: 18px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.19);
}

.blog-grid .blog-gird-info .b-meta {
    margin-bottom: 8px;
}

.blog-grid .blog-gird-info .date {
    background: #d9832e;
    font-size: 12px;
    position: absolute;
    top: -27px;
    padding: 4px 20px;
    color: #ffffff;
    border-radius: 0;
    left: 0px;
}

.blog-grid .blog-gird-info h5 a {
    color: #090a0c;
}

.blog-grid .blog-gird-info .meta {
    background: #ffffff;
    padding: 0px 12px;
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    border-radius: 3px;
    border: 1px solid #ddd;
}

.blog-grid .blog-gird-info h5 {
    font-weight: 500;
    font-size: 17px;
}

.m-btn-link {
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: #d9832e;
    border-bottom: 2px solid currentColor;
}

.contact-form {
    border-radius: 5px;
    background: #ffffff;
    padding: 5%;
}

.box-shadow {
    box-shadow: 0px 3px 10px 0px rgba(38, 59, 94, 0.1);
}

.contact-form h4 {
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    color: #090a0c;
    margin-bottom: 20px;
}

.contact-form .form-group {
    position: relative;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 1rem;
}

.contact-form .form-group .form-control {
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    padding-left: 0;
    box-shadow: none;
    font-size: 14px;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.contact-form .form-group .input-focus-effect {
    position: absolute;
    bottom: -1px;
    left: auto;
    right: 0;
    width: 0px;
    height: 2px;
    -moz-transition: ease all 0.35s;
    -o-transition: ease all 0.35s;
    -webkit-transition: ease all 0.35s;
    transition: ease all 0.35s;
}

.theme-bg {
    background-color: #d9832e;
}

.contact-info {
    background: #ffffff;
    margin-bottom: 37px;
    padding: 20PX;
}

.box-shadow {
    box-shadow: 0px 3px 10px 0px rgba(38, 59, 94, 0.1);
}

.contact-info .icon {
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    color: #ffffff;
    background: #d9832e;
    font-size: 19px;
    line-height: 40px;
    margin-right: 20px;
}

.contact-info .media-body h6 {
    font-size: 15px;
    font-weight: 500;
    color: #090a0c;
    margin-bottom: 8px;
}

.contact-info .media-body p {
    margin: 0;
    font-size: 14px;
}

.footer {
    padding: 15px 0;
    background: #111;
}

.footer .nav a {
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    margin-right: 17px;
}

.footer .nav a:hover {
    color: white;
}

.footer p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    margin: 0;
}

.footer p:hover {
    color: white;
}

.skills-section {
    padding: 50px 0;
}

.stat-box {
    border: 2px solid #f7931e;
    padding: 20px;
    margin: 10px;
    text-align: center;
    font-weight: bold;
    color: #000;
}

.progress {
    height: 15px;
}

.progress-bar {
    background-color: #d1781e;
}

.divider {
    width: 60px;
    height: 3px;
    background: #d1781e;
    margin-bottom: 15px;
}

